@use '@/app/variables.scss' as vars;

.navigate-button {
	padding: 20px 30px;
	background-color: vars.$clear-glass;
	object-fit: fill;
	transition: background-color 0.2s ease-out;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	&:active {
		background-color: rgb(24, 106, 106);
	}
}

.link-button {
	padding: 10px 10px;
	background-color: vars.$clear-glass;
	object-fit: fill;
	transition: background-color 0.2s ease-out;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	span {
		font-size: 1.1rem;
	}

	img {
		filter: invert(1);
	}
}

.text-button {
	cursor: pointer;
	padding: 20px 30px;
	object-fit: fill;
	transition: background-color 0.2s ease-out;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	transition: all 0.1s ease-out;

	&:active {
		filter: brightness(0.85);
	}
}