@use '../components/variables.scss';

.wrapper {
	position: relative;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 120px 1fr;
	overflow: hidden;

	.main-content {
		display: grid;
		grid-template-rows: 100px 1fr;
		height: 100vh;
		position: relative;
		// padding: calc(var(--padding-l) * 3);
		// padding-top: calc(var(--padding-l) * 5);
	}
}