.fullscreen-modal {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	.modal-overlay {
		position: absolute;
		display: flex;
		inset: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		padding: calc(var(--padding-l) * 2);
		box-sizing: border-box;

		.modal-content-wrapper {
			background-color: white;
			border-radius: var(--border-radius-m);
			cursor: initial;
			display: flex;
			flex: 1;
		}
	}

}