.grid-view-wrapper {
	padding: var(--padding-l);
	overflow-y: scroll;
	max-height: 100%;

	.grid-view-cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		justify-content: start;
		// align-items: start;
		gap: 24px;
	}
}